<section class="p-3">
<div class="heading text-color">Competitions</div>

<div class="w-100" fxLayout="column" fxLayoutAlign="space-around end">
    <!-- <div class="sub-heading text-white mt-3">Faculty Advisor</div> -->
    <div class="sub-heading text-white mt-big">Upcoming</div>
    
    <div class="sub-heading text-white mt-big">Archived</div>
    <div class="text-white mt-3 w-100" fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-card class="example-card">
            <img mat-card-image src="https://images.unsplash.com/photo-1593642634367-d91a135587b5?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="img-size" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <h1>Technique</h1>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
</section>