<mat-toolbar class="transparent text-white p-3 app-toolbar">
    <span>
        <div class="MYSTIC">INNOVA</div>
        <div class="MIRAGE">DTU<span class="text-red">.</span></div>
    </span>
    <span class="flex-spacer"></span>
    <a mat-button routerLink="/home" class="nav-link ml-3"><span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button routerLink="/lectures" class="nav-link ml-3"><span class="fa fa-info fa-lg"></span>Lectures</a>
    <a mat-button routerLink="/competitions" class="nav-link ml-3"><span class="fa fa-list fa-lg"></span> Competitions</a>
    <a mat-button routerLink="/workshops" class="nav-link ml-3"><span class="fa fa-address-card fa-lg"></span> Workshops</a>
    <a mat-button routerLink="/sponsors" class="nav-link ml-3"><span class="fa fa-address-card fa-lg"></span> Sponsors</a>
    <a mat-button routerLink="/team" class="nav-link ml-3"><span class="fa fa-address-card fa-lg"></span> Team</a>
    <a mat-button routerLink="/contact" class="nav-link ml-3"><span class="fa fa-address-card fa-lg"></span> Contact</a>
    <a mat-button routerLink="/sign-up" class="bg-white text-black md-raised ml-3"><span class="fa fa-address-card fa-lg"></span> Sign Up</a>
</mat-toolbar>